<div class="container mt-5">
  <h1>会員情報編集</h1>
    <%= form_for @customer, url: public_customer_path do |f| %>
      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label :name, 'ニックネーム' %>
        </div>
        <div class="col-md-3">
          <%= f.text_field :name,class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label :date_of_birth, '生年月日' %>
        </div>
        <div class="col-md-4">
          <%= raw sprintf(
                f.date_select(
                  :date_of_birth,
                  use_month_numbers: true,
                  start_year: 1930,
                  end_year: (Time.now.year),
                  default: Date.new(2000, 1, 1),
                  date_separator: '%s'),
                '年 ', '月 ') + '日' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label :introduction, '自己紹介分' %>
        </div>
        <div class="col-md-9">
          <%= f.text_area :introduction,class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label :cover_image, 'カバー画像' %>
        </div>
        <div class="col-md-3">
          <% if @customer.cover_image.present? %>
            <%= image_tag @customer.cover_image.url, class: 'cover_image_prev' %><br>
          <% else %>
            <%= image_tag 'noimage.jpg', class: 'cover_image_prev' %><br>
          <% end %>
          <%= f.file_field :cover_image, class: 'cover_image' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label :profile_image, 'プロフィール画像' %>
        </div>
        <div class="col-md-3">
          <% if @customer.profile_image.present? %>
            <%= image_tag @customer.profile_image.url, class: 'profile_image_prev' %><br>
          <% else %>
            <%= image_tag 'noimage.jpg', class: 'profile_image_prev' %><br>
          <% end %>
          <%= f.file_field :profile_image, class: 'profile_image' %>
        </div>
      </div>
      <%= f.submit '変更を保存',class: 'btn btn-outline-dark' %>
    <% end %>
</div>