<div class="container">
	<div class="row">
<%= @customer.name %>さんのマイページ
</div>
<div class="card" style="width: 72rem;">
<%= image_tag @customer.cover_image.cover.url, alt: '画像' %>
<div class="card-body">
<%= image_tag @customer.profile_image.thumb.url, alt: '画像'%>
<%= @customer.name %>さんのマイページ
<P>foro- </P>
<%= link_to'プロフィール編集',edit_public_customer_path(current_public_customer) %>
</div>
</div>
<%= render 'public/customers/contact', have_room: @have_room, room_id: @room_id, romm: @room, entry: @entry, customer: @customer%>
<%= link_to'ペット登録',new_public_dog_path%>
<% @dog.each do |dog| %>
  <%= link_to public_dog_path(dog) do %>
  <%= dog.name %>
  <% end %>
  <%= dog.sex %>
  <%= dog.date_of_birth %>
  <%= dog.introduction %>
  <%= image_tag dog.cover_image.thumb.url %>
  <%= image_tag dog.profile_image.thumb.url %>
<% end %>
</div>