<div class="container">
  <div class="row">
    <%= @customer.name %>さんのマイページ
  </div>
  <div class="card" style="width: 70rem;">
    <%= image_tag @customer.cover_image.cover.url, alt: '画像',class: 'top_cover_image'%>
      <div class="card-body">
        <%= image_tag @customer.profile_image.url, alt: '画像',class: 'top_profile_image'%>
        <%= @customer.name %>さんのマイページ
        <div class="row">
        <P>フォロー<%= @customer.relationships.count %> </P>
        <%= render 'public/customers/contact', have_room: @have_room, room_id: @room_id, romm: @room, entry: @entry, customer: @customer%>
        <%= link_to'プロフィール編集',edit_public_customer_path(current_public_customer) %>
    </div>
      </div>
  </div>
  <div class="row mt-5">
	<div class="col-md-3">
	  <%= @customer.name %>さんのペット
	</div>
	<div class="col-md-3 offset-2">
      <%= link_to'ペット登録',new_public_dog_path%>
    </div>
  </div>
  <% @dog.each do |dog| %>
    <div class="card mb-3" style="max-width: 600px;">
	  <div class="row">
        <div class="col-md-2">
	      <%= image_tag dog.cover_image.thumb.url %>
        </div>
        <div class="col-md-10">
    	  <div class="card-body">
    	 	<div class="card-title">
    	 	   <% if dog.sex == "男の子" %>
                 <%= link_to "#{dog.name}", public_dog_path(dog)  %>くん
               <% else %>
                 <%= link_to "#{dog.name}", public_dog_path(dog)  %>ちゃん
               <% end %>
               <%= link_to "フォロワー#{dog.relationships.count}",public_followers_path(dog_id: dog.id) %>
               <%= link_to'編集',edit_public_dog_path(dog) %>
               <%= link_to '削除', public_dog_path(dog), method: :delete, data: { confirm: '本当に削除しますか？' }%>
            </div>
            <div class="card-text">
              <%= dog.sex %> / <%= dog.age %>歳 / <%= dog.dog_breed.name %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
