<div class="container">
  <p><%= @customer.name %>さんのマイページ</p>
    <div class="show_head">
      <%= image_tag @customer.cover_image.cover.url, alt: '画像',class: 'top_cover_image'%>
      <%= image_tag @customer.profile_image.url, alt: '画像',class: 'top_profile_image'%>
      <p class="top_name"><%= @customer.name %>さんのマイページ</p>
      <div class="top_tag_follow">
        <%= link_to public_follows_path(customer_id: @customer.id) do %>
        <i class="fas fa-paw">フォロー<%= @customer.relationships.count %></i>
        <% end %>
      </div>
      <div class="top_tag_edit_or_dm">
        <% if public_customer_signed_in? %>
          <% if @customer.id == current_public_customer.id %>
            <%= link_to edit_public_customer_path(current_public_customer), class: 'btn btn-outline-secondary' do %>
            <i class="fas fa-pencil-alt">プロフィール編集</i>
            <% end %>
          <% else %>
            <%= render 'public/customers/contact', have_room: @have_room, room_id: @room_id, romm: @room, entry: @entry, customer: @customer%>
          <% end %>
        <% end %>
      </div>
    </div>
  <P class="mt-2">プロフィール</P>
  <div class="row">
    <% if @customer.introduction.present? %>
      <div class="col-md-10 offset-1 bg-white">
        <p><%= @customer.introduction%></p>
      </div>
    <% else %>
      <div class="col-md-10 offset-1 bg-white">
        <p class=" text-center">自己紹介はありません。</p>
      </div>
    <% end %>
  </div>

  <P class="mt-2"><%= @customer.name %>さんのフォロー中のペットの新着投稿</P>
    <% if @follows_new_posts.empty? %>
      <div class="row">
        <div class="col-md-10 offset-1 bg-white">
          <p class="text-center">フォロー中のペットはいません。</p>
        </div>
      </div>
    <% else %>
      <div class="row ">
        <% @follows_new_posts.each do |post| %>
          <div class="card  col-md-3 mx-auto" >
            <% if post.image? %>
              <%= image_tag post.image.thumb.url,class: "card-img-top" %>
            <% else %>
              <%= image_tag post.video_url(:screenshot).to_s,class: "screenshot card-img-top" %>
            <% end %>
              <div class="card-body">
                <p class="card-title">
                  <% if post.dog.sex == "男の子" %>
                    <%= link_to "#{post.dog.name}",public_dog_path(post.dog) %>くん
                  <% else %>
                    <%= link_to "#{post.dog.name}",public_dog_path(post.dog) %>ちゃん
                  <% end %>
                </p>
                <p class="card-text">
                  <div id="favorite-<%= post.id %>">
                    <%= render 'public/posts/favorite', post: post %>
                  </div>
                  <%= link_to public_post_path(post) do %>
                    <%= truncate(post.title, :length =>15)%>
                  <% end %><br>
                  <%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
              </div>
          </div>
        <% end %>
      </div>
    <% end %>

  <div class="row mt-5">
	  <div class="col-md-3">
	    <%= @customer.name %>さんのペット
	  </div>
	  <div class="col-md-3 offset-3">
      <% if public_customer_signed_in? %>
        <% if @customer.id == current_public_customer.id %>
          <%= link_to new_public_dog_path, class: 'btn btn-outline-secondary' do%>
          <i class="fas fa-plus">ペット登録</i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-7 offset-1">
      <% @dog.each do |dog| %>
        <div class="card mb-3" style="max-width: 600px;">
	        <div class="row">
            <div class="col-md-2">
	            <%= image_tag dog.cover_image.thumb.url, class: 'list_cover_image' %>
            </div>
            <div class="col-md-10">
    	        <div class="card-body">
    	          <div class="card-title ">
                  <div class="row">
                    <div class="col-md-6">
    	 	              <% if dog.sex == "男の子" %>
                        <%= link_to "#{dog.name}", public_dog_path(dog)  %>くん
                      <% else %>
                        <%= link_to "#{dog.name}", public_dog_path(dog)  %>ちゃん
                      <% end %>
                    </div>
                    <div class="col-md-6">
                      <%= link_to "フォロワー＞#{dog.relationships.count}",public_followers_path(dog_id: dog.id),class: 'btn btn-link btn-size' %>
                      <% if public_customer_signed_in? %>
                        <% if @customer.id == current_public_customer.id %>
                          <%= link_to edit_public_dog_path(dog),class: 'btn btn-outline-secondary btn-size' do %>
                            <i class="fas fa-pencil-alt">編集</i>
                          <% end %>
                          <%= link_to public_dog_path(dog), method: :delete, data: { confirm: '本当に削除しますか？' },class: 'btn btn-outline-secondary btn-size' do %>
                            <i class="fas fa-minus">削除</i>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="card-text">
                  <%= dog.sex %> / <%= dog.age %>歳 / <%= dog.dog_breed.name %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= paginate @dog,class: 'mt-3' %>
    </div>

    <div class="col-md-4">
      <!-- サイド　新着投稿 -->
      <%= render 'layouts/side_new_posts', posts: @new_posts %>
      <!--  サイド　人気犬ランキング -->
      <%= render 'layouts/side_popular_dogs', dog_ids: @dog_ids %>
      <!-- サイド　人気タグ一覧-->
      <%= render 'layouts/side_popular_tags', popular_tags: @popular_tags %>
    </div>
  </div>
</div>

