<div class="container">
<h1>すべての投稿</h1>
<div class="row">
 <% posts.each do |post| %>
 <div class="card mx-2 w-25">
 <% if post.image? %>
   <%= image_tag post.image.thumb.url, alt: '画像'%>
   <% else %>
      <%= video_tag post.video.url%>
   <% end %>
    <div class="card-body">
   <%= image_tag post.dog.cover_image.thumb.url %>
   <%= link_to "#{post.dog.name}"public_post_path(post) %>
   <%= post.title %>
   <%= post.text %>
   <%= render 'public/posts/tag_list', tag_list: post.tag_list %>
   <%= post.updated_at.strftime("%Y-%m-%d %H:%M") %>
 <% end %>
</div>
</div>
</div>
</div>