<div class="container mt-3">
   <% if @image == "image" %>
   <h2>投稿一覧>>写真一覧 </h2>
   <% elsif @video == "video" %>
   <h2>投稿一覧>>動画一覧 </h2>
   <% else %>
   <h2>すべての投稿</h2>
   <% end %>
<div class="row">
 <% @posts.each do |post| %>
 <div class="card  col-md-3 mx-auto" >
 <% if post.image? %>
   <%= image_tag post.image.thumb.url, alt: '画像',class: "card-img-top" %>
   <% else %>
      <%= video_tag post.video.url,class: "card-img-top" %>
   <% end %>
   <div class="card-body ">
      <p class="card-title">
   <%= image_tag post.dog.cover_image.thumb.url, class: 'index_cover_image' %>
   <% if post.dog.sex == "男の子" %>
   <%= link_to "#{post.dog.name}",public_dog_path(post.dog) %>くん
   <% else %>
   <%= link_to "#{post.dog.name}",public_dog_path(post.dog) %>ちゃん
   <% end %>
</p>
<p class="card-text">
      <%= render 'public/posts/favorite', post: post %><br>
                    <%= link_to public_post_path(post) do %>
                    <%= truncate(post.title, :length =>13) %>
                    <% end %>
                       </p>
   <%= post.updated_at.strftime("%Y-%m-%d %H:%M") %>

</div>
</div>
 <% end %>
</div>
<div class="row">
<div class="mx-auto mt-3">
<%= paginate @posts %>
</div>
</div>

</div>
