<h1>投稿詳細</h1>
 <% if @post.image? %>
   <%= image_tag @post.image.url, alt: '画像'%>
   <% else %>
      <%= video_tag @post.video.url, controls: true%>
   <% end %>
   <%= @post.dog.name %>
   <%= @post.title %>
   <%= @post.text %>
   <%= link_to '削除', public_post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }%>

   <% @post.comments.each do |comment| %>
     <%= comment.customer.name %>
     <%= comment.comment %>
     <%= comment.created_at.strftime('%Y/%m/%d') %>
     <%= link_to '削除', public_post_comment_path(@post, comment), method: :delete, data: { confirm: '本当に削除しますか？' }%>
   <% end %>

   <%= form_for [@post, @comment], url: public_post_comments_path(@post) do |f| %>
     <%= f.label :comment, 'コメント' %>
     <%= f.text_area :comment %>
     <%= f.submit 'コメント投稿' %>
   <% end %>

