<div class="container mt-3">
  <h2 class="text-center">記事詳細</h2>
  <div class="post_show_main mx-auto">
    <div class="row">
      <div class="col-md-10 offset-1">
        <p class="post_show_title mt-2"><%= @post.title %></p>
      </div>
      <div class="col-md-9 offset-1 mt-2">
        <%if @post.dog.sex == "男の子" %>
          <%= link_to"#{@post.dog.name}", public_dog_path(@post.dog) %>くん
        <% else %>
          <%= link_to"#{@post.dog.name}", public_dog_path(@post.dog) %>ちゃん
        <% end %>
          <%=@post.dog.dog_breed.name %>
      </div>
      <div class="col-md-2">
        <% if public_customer_signed_in? %>
          <% if @post.customer_id == current_public_customer.id %>
            <%= link_to "編集", edit_public_post_path(@post) %>
          <% else %>
            <div id="relationship<%= @post.dog.id %>">
              <%= render 'public/relationships/relationship', dog: @post.dog %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-3 offset-1">
        <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %>
      </div>
      <div class="col-md-8" id="favorite-<%= @post.id %>">
        <%= render 'public/posts/favorite', post: @post %>
      </div>
      <div class="col-md-10 offset-1">
        <%= render 'public/posts/tag_list', tag_list: @post.tag_list %>
      </div>
      <div class="col-md-12">
        <%= image_tag @post.dog.cover_image.thumb.url, class: "post_show_cover_image" %>
      </div>
      <div class="col-md-12">
        <% if @post.image? %>
          <%= image_tag @post.image.show_image.url, alt: '画像', class: 'rounded mx-auto d-block' %>
        <% else %>
          <%= video_tag @post.video_url(:size).to_s, controls: true, class: 'rounded mx-auto d-block'%>
        <% end %>
      </div>
      <div class="col-md-10 offset-1 mt-5">
        <%= @post.text %>
      </div>
    </div>
  </div>
</div>

<div class="container ">
  <div class="post_show_comment_form mx-auto mt-2">
    <%= form_with(model: [@post, @comment], url: public_post_comments_path(@post) ) do |f| %>
      <div class="col-md-10 offset-1">
        <%= f.label :comment do %>
          <i class="far fa-comment">コメント</i>
        <% end %>
      </div>
      <div class="col-md-10 offset-1">
        <%= f.text_area :comment,class: 'form-control' %>
      </div>
      <div class="col-md-1 offset-9 pb-2">
        <%= f.submit 'コメント',class: 'btn btn-outline-secondary mt-2'  %>
    <% end %>
      </div>
  </div>
  <div id="post_comments_area">
  <%= render 'public/comments/index', comments: @comments %>
  </div>
</div>