<div class="container">
  <% if @dog.sex == "男の子" %>
    <h1><%= @dog.name %>くんのフォロワー</h1>
  <% else %>
    <h1><%= @dog.name %>ちゃんのフォロワー</h1>
  <% end %>
  <div class="row">
    <div class="col-md-7 offset-1">
      <% @customers.each do |c| %>
        <div class="card mb-3" style="max-width: 600px;">
      	  <div class="row">
            <div class="col-md-1">
            	<%= image_tag c.cover_image.thumb.url,class: 'list_cover_image'%>
            </div>
            <div class="col-md-11">
            	<div class="card-body">
            		<div class="card-title">
                	<%= c.name %>さん
                </div>
                <div class="card-text">
                	<%= truncate(c.introduction, :length =>33)%>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
    <!-- サイド　新着投稿 -->
      <%= render 'layouts/side_new_posts', posts: @new_posts %>
    <!--  サイド　人気犬ランキング -->
      <%= render 'layouts/side_popular_dogs', dog_ids: @dog_ids %>
    <!-- サイド　人気タグ一覧-->
      <%= render 'layouts/side_popular_tags', popular_tags: @popular_tags %>
    </div>
  </div>
</div>