<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% @entries.each do |e| %>
        <%= link_to "#{e.customer.name}", public_customer_path(e.customer) %>さん
      <% end %>のトークルーム
    </div>
  </div>
  <div id="message_area">
    <%= render 'public/messages/message_index', room: @room, messages: @messages, message: @message %>
  </div>
  
  <div class="post_show_comment_form mx-auto mt-2 mb-5">
    <%= form_for @message, url: public_messages_path(@room), remote: true do |f| %>
      <div class="col-md-10 offset-1 pt-2">
        <%= f.label :message do%>
          <i class="far fa-comment">メッセージ</i>
        <% end %>
      </div>
      <div class="col-md-10 offset-1">
        <%= f.text_area :message, class: 'form-control' %>
      </div>
      <%= f.hidden_field :room_id, value: @room.id %>
      <div class="col-md-1 offset-9 pb-2">
        <%= f.submit '送信',class: 'btn btn-outline-secondary mt-2' %>
      </div>
    <% end %>
  </div>
</div>
