<div class="container mt-3">
<%if @model == 'post' %>
  <h3>指定中の検索条件 '投稿' ＞ キーワード '<%= @content %>' </h3>
  <%= render 'public/posts/index', posts: @records %>
<% elsif @model == 'tag' %>
  <h3>指定中の検索条件 'タグ' ＞ キーワード '<%= @content %>' </h3>
  <%= render 'public/posts/index', posts: @records %>
<% else @model == 'dog' %>
  <h3>指定中の検索条件 '犬種' ＞ キーワード '<%= @content %>' </h3>
  <%= render 'public/posts/index', posts: @records %>
<% end %>
</div>