<% visitor = notification.visitor %>
<% visited = notification.visited %>
<%= link_to "#{visitor.name}",public_customer_path(visitor) %>さんが
<% case notification.action %>
	<% when 'favorite' then %>
	<P>あなたをいいねしました。</P>
	<% when 'comment' then %>
	<% if notification.post.customer_id == visited.id %>
	<%= link_to "あなたの投稿", public_post_path(visited.post.id) %>
	<% else %>
	<%= link_to "#{notification.post.customer.name}さんの投稿", public_post_path(visitor.post.id) %>
	<% end %>
	にコメントしました
	<%= Comment.find_by(id: notification.comment_id)&.comment %>
	<% end %>
	<%= time_ago_in_words(notification.created_at).upcase %>
