<% visitor = notification.visitor %>
<% visited = notification.visited %>
<hr>
<br>
visitor: <%= visitor.id %><br> 
visited: <%= visited.id %><br>
投稿者id: <%= notification.post.customer_id %><br>
ログインユーザーid: <%= current_public_customer.id %><br>
<% if current_public_customer.id == visited.id %>
<%= link_to "#{visitor.name}",public_customer_path(visitor) %>さんが
<% case notification.action %>
	<% when 'favorite' then %>
	  <P><%= link_to "あなたの投稿", public_post_path(notification.post.id) %>にいいねしました。</P>
	<% when 'comment' then %>
	  <% if notification.post.customer_id  == current_public_customer.id  %>
	    <%= link_to "あなたの投稿", public_post_path(notification.post.id) %>
	  <% else %>
	    <%= link_to "#{notification.post.customer.name}さんの投稿", public_post_path(notification.post.id) %>
	  <% end %>
	  にコメントしました
	<%= Comment.find_by(id: notification.comment_id)&.comment %>
<% end %>
	<%= notification.created_at.strftime("%Y-%m-%d %H:%M") %>
<% end %>
<br>
