<h1>ペットの登録</h1>
  <%= form_for @dog, url: public_dogs_path do |f| %>
    <%= f.label :name, 'ペットの名前' %>
      <%= f.text_field :name %>
    <%= f.label :dog_breed_id, '犬種' %>
    <%= f.collection_select :dog_breed_id, @dog_breeds, :id, :name, {prompt: "選択してください"} %>
    <%= f.label :date_of_birth, 'ペットの生年月日' %>
      <%= f.date_select :date_of_birth, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year), default: Date.new(1989, 1, 1) %>
    <%= f.label :sex, '性別' %>
      <label><%= f.radio_button :sex, "雄" %>雄</label>
	  <label><%= f.radio_button :sex, "雌" %>雌</label>
	<%= f.label :introduction, 'ペットの紹介文' %>
	  <%= f.text_area :introduction %>
	<%= f.label :cover_image, 'ペットのカバー写真' %>
	  <%= f.file_field :cover_image %>
	<%= f.label :profile_image, 'ペットのプロフィール写真' %>
	  <%= f.file_field :profile_image %>
	<%= f.submit '登録' %>
  <% end %>


