<div class="container">
  <h2>ペットの登録</h2>
    <%= form_for @dog, url: public_dogs_path do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="form-group row">
      <div class="col-md-3">
        <%= f.label :name, 'ペットの名前' %>
      </div>
      <div class="col-md-3">
        <%= f.text_field :name,class: 'form-control'%>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-3">
        <%= f.label :dog_breed_id, '犬種' %>
      </div>
      <div class="col-md-3">
        <%= f.collection_select :dog_breed_id, @dog_breeds, :id, :name, {prompt: "選択してください"},class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-3">
        <%= f.label :date_of_birth, 'ペットの生年月日' %>
      </div>
      <div class="col-md-9">
        <%= raw sprintf(
                f.date_select(
                  :date_of_birth,
                  use_month_numbers: true,
                  start_year: 1930,
                  end_year: (Time.now.year),
                  default: Date.new(2000, 1, 1),
                  date_separator: '%s'),
                '年 ', '月 ') + '日' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-3">
        <%= f.label :sex, '性別', class: 'form-label' %>
      </div>
      <div class="col-md-4 btn-group" data-toggle="buttons">
        <label class="btn btn-outline-secondary" style="width:50%"><%= f.radio_button :sex, "男の子" %>男の子</label>
    	  <label class="btn btn-outline-secondary" style="width:50%"><%= f.radio_button :sex, "女の子" %>女の子</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-3">
    	  <%= f.label :introduction, 'ペットの紹介文' %>
      </div>
      <div class="col-md-9">
    	  <%= f.text_area :introduction,class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-3">
    	  <%= f.label :cover_image, 'ペットのカバー写真' %>
        <p>(詳細ページのカバー画像に適用)</p>
      </div>
      <div class="col-md-9">
    	  <% if @dog.cover_image.present? %>
          <%= image_tag @dog.cover_image.url, id: :img_prev5 %><br>
        <% else %>
          <%= image_tag 'noimage.jpg', id: :img_prev5 %><br>
        <% end %>
        <%= f.file_field :cover_image, id: :customer_img5 %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-3">
    	  <%= f.label :profile_image, 'ペットのプロフィール写真' %>
        <p>(アイコン画像に適用)</p>
      </div>
      <div class="col-md-9">
    	  <% if @dog.profile_image.present? %>
          <%= image_tag @dog.profile_image.url, id: :img_prev6 %><br>
        <% else %>
          <%= image_tag 'noimage.jpg', id: :img_prev6 %><br>
        <% end %>
        <%= f.file_field :profile_image, id: :customer_img6 %>
      </div>
    </div>
	  <%= f.submit '登録',class: 'btn btn-outline-dark' %>
    <% end %>
</div>


