<!-- admin -->
<nav class="navbar navbar-expand-lg navbar-light  displaycol">
  <div class="container">
  <h1 id="title">MyDogs</h1>
      <div class="row">
      <div class="col-md-5 offset-7 ">
        <div class="form-group form-inline ">
          <%= form_tag(public_search_path, method: :get) do %>
            <%= select_tag 'search[model]', options_for_select({"投稿" => "post", "タグ" => "tag", "犬種" => "dog" }),class: 'form-control' %>
            <%= text_field_tag 'search[content]','', class: 'form-control'%>
            <%= submit_tag "検索", class: 'btn btn-outline-secondary' %>
          <% end %>
        </div>
      </div>
        <div class="col-md-2 ">
          <%= link_to public_top_path, class: "nav-link text-dark btn btn-outline-secondary btn-block" do%>
            <i class="fas fa-home">H O M E</i>
          <% end %>
        </div>
        <div class="col-md-2 ">
          <%= link_to public_posts_path, class: "nav-link text-dark btn btn-outline-secondary btn-block" do%>
            <i class="fas fa-paw">投 稿 一 覧</i>
          <% end %>
        </div>
        <div class="col-md-2 ">
          <%= link_to public_posts_path(image: "image"), class: "nav-link text-dark btn btn-outline-secondary btn-block" do%>
            <i class="fas fa-camera">写 真 一 覧</i>
          <% end %>
        </div>
        <div class="col-md-2 ">
          <%= link_to public_posts_path(video: "video"), class: "nav-link text-dark btn btn-outline-secondary btn-block" do%>
            <i class="fas fa-play-circle">動 画 一 覧</i>
          <% end %>
        </div>
        <div class="col-md-1 offset-1">
          <div class="dropdown">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">管理者Menu
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to '犬種追加',admin_dog_breeds_path, class: "dropdown-item"%>
              <%= link_to '会員一覧',admin_customers_path, class: "dropdown-item"%>
              <%= link_to 'ログアウト',destroy_admin_admin_session_path, method: :delete,class: "dropdown-item"  %>
              <%= link_to 'About',root_path,class: "dropdown-item"%>
            </div>
        </div>
      </div>
    </div>
  </div>
</nav>
