<!-- ログイン有 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light displaycol">
  <div class="container">
	<h1>MyDogs</h1>
	  <div class="collapse navbar-collapse flex-column" id="navbarSupportedContent">
	  	<div class="ml-auto">
	 	  <ul class="navbar-nav">
	 	    <li class="mx-5">ようこそ
	          <%= link_to public_customer_path(current_public_customer) do %>
		      <%= current_public_customer.name %>
		      <% end %>さん
	        </li>
	        <li class="nav-item bd-highlight mx-5">
	          <%= link_to 'ログアウト',destroy_public_customer_session_path, method: :delete,class: "nav-link text-dark btn btn-outline-dark"  %>
	        </li>
	        <li class="nav-item bd-highlight ">
	          <%= link_to public_notifications_path do %>
	          <i class="fas fa-bell fa-2x"></i>
	          <% end %>
	        </li>
	      </ul>
	    </div>
	    <div class="ml-auto">
	      <%= form_tag(public_search_path, method: :get) do %>
	      <div class="form-group form-inline">
	        <%= select_tag 'search[model]', options_for_select({"投稿" => "post", "タグ" => "tag", "犬種" => "dog" }),class: 'form-control' %>
	        <%= text_field_tag 'search[content]','', class: 'form-control'%>
	        <%= submit_tag "検索", class: 'btn btn-light' %>
	      <% end %>
	      </div>
	    </div>
	    <ul class="navbar-nav mx-auto">
	      <li class="nav-item bd-highlight mx-5 ">
	        <%= link_to '投 稿 一 覧',public_posts_path, class: "nav-link text-dark btn btn-outline-dark"%>
	      </li>
	      <li class="nav-item bd-highlight mx-5 ">
	        <%= link_to '写 真 一 覧',public_posts_path(image: "image"), class: "nav-link text-dark btn btn-outline-dark"%>
	      </li>
	      <li class="nav-item bd-highlight mx-5 ">
	        <%= link_to '動 画 一 覧',public_posts_path(video: "video"), class: "nav-link text-dark btn btn-outline-dark"%>
	      </li>
	      <li class="nav-item bd-highlight mx-5">
	        <%= link_to '写 真 投 稿',public_newimage_path, class: "nav-link text-dark btn btn-outline-dark"%>
	      </li>
	      <li class="nav-item bd-highlight mx-5">
	        <%= link_to '動 画 投 稿',public_newvideo_path, class: "nav-link text-dark btn btn-outline-dark"%>
	      </li>
	    </ul>
	  </div>
  </div>
</nav>
