<!-- サイド　新着投稿一覧 -->
<div class="card">
  <div class="card-body">
    <p class="text-center card-header"><i class="fas fa-dog fa-lg"></i>新着投稿</p>
    <div class="card-text text-center" >
      <% posts.each do |p| %>
        <% if p.image? %>
          <%= link_to public_post_path(p) do %>
            <%= image_tag p.image.url,class: 'side_new_posts_image' %>
          <% end %>
        <% else %>
          <%= link_to public_post_path(p) do %>
            <%= image_tag p.video_url(:screenshot).to_s,class: 'side_new_posts_image' %>
          <% end %>
        <% end %>
      <% end %>
      <div class='text-right'>
        <%= link_to "もっと見る＞", public_posts_path %>
      </div>
    </div>
  </div>
</div>
