<!DOCTYPE html>
<html>
  <head>
    <title>MyDogs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/7223783fbe.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if public_customer_signed_in? %>
        <%= render 'layouts/header_customer' %>
        <div class="header-bottom"></div>
      <% elsif admin_admin_signed_in? %>
        <%= render 'layouts/header_admin' %>
      <% else %>
        <%= render 'layouts/header_visitor' %>
        <div class="header-bottom"></div>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
